<div #deckRoot [class]="cssClasses()" tabindex="0">
  <ng-template #slidesContent><ng-content /></ng-template>

  @if (service.mode() === "fullscreen") {
    <swiper-container
      navigation="true"
      keyboard="true"
      pagination="true"
      [attr.initial-slide]="service.currentIndex()"
    >
      <ng-container *ngTemplateOutlet="slidesContent" />
    </swiper-container>
  } @else {
    <ng-container *ngTemplateOutlet="slidesContent" />
  }

  @if (allowFullscreen()) {
    <button
      type="button"
      class="slide-deck-fullscreen"
      data-testid="slide-deck-fullscreen-toggle"
      (click)="toggleFullscreen()"
      [attr.aria-label]="
        service.mode() === 'fullscreen'
          ? 'Quitter le plein écran'
          : 'Passer en plein écran'
      "
      i18n-aria-label="@@slideDeckFullscreenToggle"
    >
      <span aria-hidden="true">⛶</span>
    </button>
  }

  <div class="slide-deck-progress" aria-hidden="true">
    <span>{{ service.currentIndex() + 1 }} / {{ service.total() }}</span>
  </div>
</div>
