<div class="slide-grid">
  @if (title()) {
    <h2>{{ title() }}</h2>
  }
  <div class="slide-grid__grid">
    @for (item of items(); track item.title) {
      @if (item.href) {
        <a class="slide-grid__card" [href]="item.href">
          <ng-container *ngTemplateOutlet="cardBody; context: { $implicit: item }" />
        </a>
      } @else {
        <div class="slide-grid__card">
          <ng-container *ngTemplateOutlet="cardBody; context: { $implicit: item }" />
        </div>
      }
    }
  </div>
</div>

<ng-template #cardBody let-item>
  @if (item.icon) {
    <div class="slide-grid__icon">{{ item.icon }}</div>
  }
  <h3>{{ item.title }}</h3>
  <p>{{ item.description }}</p>
</ng-template>
