<app-hero-section [title]="hero.title" [description]="hero.description" titleLevel="h1"
  align="center"></app-hero-section>

<section id="services" class="px-[5%] mb-12  md:py-18 lg:py-22" data-testid="services-section">
  <div class="container space-y-12 lg:space-y-16">
    @for (service of services; track service.id) {
    <div class="relative border-t border-border-primary bg-white pb-8 md:pb-14 sticky lg:pb-0"
      [ngStyle]="{ top: service.offsetTop }">
      <a class="flex h-16 w-full items-center">
        <span class="mr-5 font-semibold md:mr-6 md:text-md">{{ service.id }}</span>
        <h3 class="font-semibold md:text-md">{{ service.linkLabel }}</h3>
      </a>
      <div class="py-8 md:py-10 lg:py-12">
        <div class="grid grid-cols-1 gap-y-12 md:items-center md:gap-x-12 lg:grid-cols-2 lg:gap-x-20">
          <div>
            <p class="mb-3 font-semibold md:mb-4">{{ service.category }}</p>
            <h2 class="font-heading heading-h3 text-h3 mb-5 md:mb-6" i18n="@@offerServiceHeading">
              {{ service.heading }}
            </h2>
            <p class="md:text-md">{{ service.description }}</p>
            <div class="mt-6 flex flex-wrap items-center gap-4 md:mt-8">
              @for (action of service.actions; track $index) {
              <a [routerLink]="action.href" class="rounded-button px-5 py-2 text-sm font-semibold  duration-200 "
                [ngClass]="[
                    action.variant === 'primary'
                      ? 'inline-flex items-center justify-center bg-scheme-accent rounded-button  text-scheme-on-accent  '
                      : '',
                    action.variant === 'secondary'
                      ? 'hidden md:inline-flex items-center justify-center rounded-button border border-scheme-border small  '
                      : '',
                    action.variant === 'ghost' || !action.variant
                      ? 'inline-flex items-center justify-center gap-2  underline rounded-button '
                      : '',
                  ]">
                {{ action.label }}
              </a>
              }
            </div>
          </div>
          <div class="relative">
            <img class="h-[25rem] rounded-xl w-full object-cover sm:h-[30rem] lg:h-[60vh]" [src]="service.image"
              [alt]="service.imageAlt" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</section>

<app-services-section class="bg-scheme-background " [kicker]="servicesSection.kicker" [title]="servicesSection.title"
  [leadParagraphs]="servicesSection.leadParagraphs" [services]="servicesSection.services"
  [cta]="servicesSection.cta"></app-services-section>

<section id="qualities" class="px-[5%] py-12 md:py-18 lg:py-22" data-testid="qualities-section">
  <div class="container space-y-12 lg:space-y-16">
    @for (quality of qualities; track quality.id) {
    <div class="relative border-t border-border-primary bg-white pb-8 md:pb-14 sticky lg:pb-0"
      [ngStyle]="{ top: quality.offsetTop }">
      <a class="flex h-16 w-full items-center underline">
        <span class="mr-5 font-semibold md:mr-6 md:text-md">{{ quality.id }}</span>
        <h3 class="font-semibold md:text-md">{{ quality.linkLabel }}</h3>
      </a>
      <div class="py-8 md:py-10 lg:py-12">
        <div class="grid grid-cols-1 gap-y-12 md:items-center md:gap-x-12 lg:grid-cols-2 lg:gap-x-20">
          <div>
            <p class="mb-3 font-semibold md:mb-4">{{ quality.category }}</p>
            <h2 class="font-heading heading-h3 text-h3 mb-5 md:mb-6" i18n="@@offerQualityHeading">
              {{ quality.heading }}
            </h2>
            <p class="md:text-md">{{ quality.description }}</p>
            <div class="mt-6 flex flex-wrap items-center gap-4 md:mt-8">
              @for (action of quality.actions; track $index) {
              <a [routerLink]="action.href"
                class="rounded-button px-5 py-2 text-sm font-semibold transition-colors duration-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
                [ngClass]="[
                    action.variant === 'primary'
                      ? 'inline-flex items-center justify-center bg-scheme-accent rounded-button font-semibold text-scheme-on-accent hover:bg-scheme-accent-hover active:bg-scheme-accent-active focus:outline-none focus:ring-4 focus:ring-scheme-accent-focus'
                      : '',
                    action.variant === 'secondary'
                      ? 'hidden md:inline-flex items-center justify-center rounded-button border border-scheme-border small hover:bg-scheme-accent-hover active:bg-scheme-accent-active focus:outline-none focus:ring-4 focus:ring-scheme-accent-focus'
                      : '',
                    action.variant === 'ghost' || !action.variant
                      ? 'inline-flex items-center justify-center gap-2 font-semibold underline rounded-button hover:text-scheme-accent-hover focus:outline-none focus:ring-4 focus:ring-scheme-accent-focus'
                      : '',
                  ]">
                {{ action.label }}
              </a>
              }
            </div>
          </div>
          <div class="relative ">
            <img class="h-[25rem] rounded-xl w-full object-cover sm:h-[30rem] lg:h-[60vh]" [src]="quality.image"
              [alt]="quality.imageAlt" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</section>

<app-cta-contact [leadParagraphs]="contactSection.leadParagraphs"></app-cta-contact>
<app-cta-section></app-cta-section>
