<section class="px-[5%]">
  <div class="relative flex min-h-svh flex-col overflow-auto py-24 lg:pt-24 lg:pb-20">
    <div class="mx-auto w-full max-w-sm">
      <div dir="ltr" data-orientation="horizontal" data-slot="tabs" class="flex flex-col justify-start">
        <div role="tablist" aria-orientation="horizontal" data-slot="tabs-list"
          class="mb-8 scrollbar-none flex w-full items-center overflow-auto md:justify-center md:overflow-hidden"
          tabindex="-1" data-orientation="horizontal">
          <button type="button" role="tab" id="auth-trigger-sign-up" [attr.aria-controls]="'auth-tab-sign-up'"
            [attr.aria-selected]="isTabActive('sign-up')"
            [attr.data-state]="isTabActive('sign-up') ? 'active' : 'inactive'"
            [attr.tabindex]="isTabActive('sign-up') ? 0 : -1" data-slot="tabs-trigger" class="
              inline-flex w-1/2 items-center justify-center
              rounded-none
              border-x-0 border-t-0
              border-b-2 border-b-transparent
              px-6 py-3
              text-center text-scheme-text
              focus-visible:outline-none
              data-[state=active]:border-b-scheme-accent
              data-[state=inactive]:border-b-transparent
            " (click)="selectTab('sign-up')">
            S'inscrire
          </button>

          <button type="button" role="tab" id="auth-trigger-log-in" [attr.aria-controls]="'auth-tab-log-in'"
            [attr.aria-selected]="isTabActive('log-in')"
            [attr.data-state]="isTabActive('log-in') ? 'active' : 'inactive'"
            [attr.tabindex]="isTabActive('log-in') ? 0 : -1" data-slot="tabs-trigger" class="
              inline-flex w-1/2 items-center justify-center
              rounded-none               
              border-x-0 border-t-0      
              border-b-2 border-b-transparent
              px-6 py-3
              text-center text-scheme-text
              focus-visible:outline-none
              data-[state=active]:border-b-scheme-accent
              data-[state=inactive]:border-b-transparent
            " (click)="selectTab('log-in')">
            Connexion
          </button>


        </div>
        <div *ngIf="isTabActive('sign-up')" role="tabpanel" id="auth-tab-sign-up"
          [attr.aria-labelledby]="'auth-trigger-sign-up'" data-slot="tabs-content"
          class="focus-visible:outline-none data-[state=active]:animate-tabs"
          [attr.data-state]="isTabActive('sign-up') ? 'active' : 'inactive'" tabindex="0">
          <div class="mb-6 text-center md:mb-8">
            <h1 class="mb-5 text-h2 font-bold md:mb-6">Votre parcours</h1>
            <p class="text-medium">
              Déverrouillez votre potentiel avec un compte personnalisé
            </p>
          </div>
          <form class="grid grid-cols-1 gap-6" #signupFormRef="ngForm" (ngSubmit)="handleSignupSubmit(signupFormRef)">

            @for (field of signupFields; track field.key) {
            <div class="relative mb-6">

              <input [type]="field.type" [id]="field.key" [name]="field.key" [(ngModel)]="signupForm[field.key]"
                [required]="field.required" [minlength]="field.key === 'password' ? 8 : null"
                [email]="field.type === 'email' ? '' : false" placeholder=" " class="peer block w-full rounded-form border border-scheme-border px-3 py-2 focus:border-scheme-accent
              focus:outline-none" #control="ngModel"
                [class.border-red-500]="control.invalid && (control.touched || isSignupSubmitted)" />

              <label [for]="field.key" class="absolute left-3 tosp-2 px-1 
             bg-white text-gray-600 text-sm font-medium
             pointer-events-none transition-all duration-200
             peer-placeholder-shown:top-2
             peer-placeholder-shown:text-base
             peer-placeholder-shown:text-gray-500
             peer-focus:-top-3
             peer-focus:text-sm
             peer-focus:text-scheme-accent" [ngClass]="signupForm[field.key] 
        ? '-top-3 text-xs text-scheme-accent' 
        : 'top-2 text-sm text-gray-500'"
                [class.text-red-500]="control.invalid && (control.touched || isSignupSubmitted)">
                {{ field.label }}
                <span *ngIf="!field.required">(facultatif)</span>
              </label>
              <p *ngIf="control.invalid && (control.touched || isSignupSubmitted)" class="mt-1 text-xs text-red-500">
                @if (control.errors?.['required']) {
                Ce champ est obligatoire.
                } @else if (control.errors?.['email']) {
                Merci d’entrer une adresse email valide.
                } @else if (control.errors?.['minlength'] && field.key === 'password') {
                Le mot de passe doit contenir au moins 8 caractères.
                } @else {
                Valeur invalide.
                }
              </p>
            </div>
            }

            <div class="grid grid-cols-1 gap-4">
              <button type="submit" data-slot="button"
                class="bg-scheme-accent inline-flex items-center justify-center gap-3 rounded-button border border-scheme-border bg-neutral-darkest px-6 py-3 text-white transition-all duration-200 ease-in-out"
                title="Créer compte">
                Créer compte
              </button>
              <button type="button" data-slot="button"
                class="inline-flex items-center justify-center gap-3 rounded-button border border-scheme-border px-6 py-3 text-scheme-text transition-all duration-200 ease-in-out"
                title="Inscrivez-vous avec Google" (click)="handleGoogleAuth('sign-up')">
                <app-svg-icon name="google" class="size-6 text-scheme-text" [size]="1.5"></app-svg-icon>
                Inscrivez-vous avec Google
              </button>
            </div>
          </form>
        </div>
        <div *ngIf="isTabActive('log-in')" role="tabpanel" id="auth-tab-log-in"
          [attr.aria-labelledby]="'auth-trigger-log-in'" data-slot="tabs-content"
          class="focus-visible:outline-none data-[state=active]:animate-tabs"
          [attr.data-state]="isTabActive('log-in') ? 'active' : 'inactive'" tabindex="0">
          <div class="mb-6 text-center md:mb-8">
            <h1 class="mb-5 text-h2 font-bold md:mb-6">Se connecter</h1>
            <p class="text-medium">
              Votre espace de croissance commence
            </p>
          </div>
          <form class="grid grid-cols-1 gap-6" #loginFormRef="ngForm" (ngSubmit)="handleLoginSubmit(loginFormRef)">
            <div class="grid grid-cols-1">
              <label class="mb-2 flex items-center gap-2 font-medium" for="login-email">
                Email*
              </label>
              <div class="relative flex w-full items-center">
                <input type="email" id="login-email" name="loginEmail" [(ngModel)]="loginForm.email" required
                  class="flex size-full rounded-form border border-scheme-border px-3 py-2" />
              </div>
            </div>
            <div class="grid grid-cols-1">
              <div class="mb-2 flex items-center justify-between">
                <label class="flex items-center gap-2 font-medium" for="login-password">
                  Mot de passe*
                </label>
                <a href="#" class="underline">Mot de passe oublié ?</a>
              </div>
              <div class="relative flex w-full items-center">
                <input type="password" id="login-password" name="loginPassword" [(ngModel)]="loginForm.password"
                  required class="flex size-full rounded-form border border-scheme-border px-3 py-2" />
              </div>
            </div>
            <div class="grid grid-cols-1 gap-4">
              <button type="submit" data-slot="button"
                class="bg-scheme-accent inline-flex items-center justify-center gap-3 rounded-button border border-scheme-border bg-neutral-darkest px-6 py-3 text-white transition-all duration-200 ease-in-out"
                title="Log in">
                Log in
              </button>
              <button type="button" data-slot="button"
                class="inline-flex items-center justify-center gap-3 rounded-button border border-scheme-border px-6 py-3 text-scheme-text transition-all duration-200 ease-in-out"
                title="Connectez-vous avec Google" (click)="handleGoogleAuth('log-in')">
                <app-svg-icon name="google" class="size-6 text-scheme-text" [size]="1.5"></app-svg-icon>
                Connectez-vous avec Google
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="px-[5%] py-16 md:py-24 lg:py-28">
  <div class="container">
    <div>
      <div
        class="mb-12 grid auto-cols-fr grid-cols-1 gap-x-12 gap-y-12 md:mb-20 md:grid-cols-[1fr_.75fr] md:gap-x-20 md:gap-y-16">
        <div class="max-w-lg">
          <p class="mb-3 font-semibold md:mb-4">Support</p>
          <h2 class="heading-h2 mb-5 font-bold md:mb-6">Contactez-nous</h2>
          <p class="text-medium">
            Nous sommes là pour vous aider à résoudre rapidement tous vos
            problèmes de connexion ou de compte.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="grid auto-cols-fr grid-cols-1 gap-x-4 gap-y-6 py-2">
            <div class="flex flex-row">
              <div class="mr-4 md:mb-4">
                <app-svg-icon name="envelope" class="size-6 text-scheme-text" [size]="1.5"></app-svg-icon>
              </div>
              <div>
                <h3 class="heading-h6 mb-2 font-bold">Email</h3>
                <a class="underline" href="#">hello&#64;relume.io</a>
              </div>
            </div>
            <div class="flex flex-row">
              <div class="mr-4 md:mb-4">
                <app-svg-icon name="phone" class="size-6 text-scheme-text" [size]="1.5"></app-svg-icon>
              </div>
              <div>
                <h3 class="heading-h6 mb-2 font-bold">Téléphone</h3>
                <a class="underline" href="#">+33 6 12 34 56 78</a>
              </div>
            </div>
            <div class="flex flex-row">
              <div class="mr-4 md:mb-4">
                <app-svg-icon name="location" class="size-6 text-scheme-text" class="" [size]="1.5"></app-svg-icon>
              </div>
              <div>
                <h3 class="heading-h6 mb-2 font-bold">Bureau</h3>
                <p>12 rue de la Technologie, Paris 75001, France</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="justify-self-end md:w-[321.6px] lg:w-auto">
      <img src="/assets/images/bordeaux-placeholder.png" alt="Placeholder bordeaux image"
        class="size-full h-[400px] object-cover md:h-[516px]" />
    </a>
  </div>
</section>