@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utilitaires custom pour coller au HTML Relume */

@layer utilities {
  /* Rayons */
  .rounded-card {
    @apply rounded-lg;
  } // 0.5rem
  .rounded-form {
    @apply rounded-lg;
  }
  .rounded-image {
    @apply rounded-xl;
  } // par ex. un peu plus arrondi
  .rounded-button {
    @apply rounded-full;
  }

  /* Fonts : tu peux ajouter font-heading aux titres si tu veux le serif */
  .font-heading {
    font-family: 'Cormorant Garamond', serif;
  }
  .font-body {
    font-family: 'Merriweather Sans', system-ui, sans-serif;
  }
}
