<app-asili-hero [kicker]="heroKicker" [lead]="heroLead">
  <ng-container title>
    <ng-container i18n="@@projetsHeroTitle"
      >Des preuves,<br />pas des <span class="accent">promesses</span>.</ng-container
    >
  </ng-container>
</app-asili-hero>

<app-asili-projects-grid [projects]="projects" />

<app-asili-method [steps]="methodSteps" [kicker]="methodKicker">
  <h2 heading class="h-lg method-head__title" style="max-width: 20ch">
    <ng-container i18n="@@projetsMethodHeading"
      >Chaque projet suit la même logique : <em>clarté d'abord</em>.</ng-container
    >
  </h2>
</app-asili-method>

<app-asili-cta-band [contenu]="{ kicker: ctaKicker, title: ctaTitle, actions: ctaActions }" />
