@if (poll(); as p) {
  <div class="slide-poll">
    <h3 class="slide-poll__question">{{ p.question }}</h3>
    <div class="slide-poll__options">
      @for (opt of p.options; track opt; let i = $index) {
        <button
          type="button"
          class="slide-poll__option"
          [disabled]="hasVoted()"
          (click)="vote(i)"
        >
          <span class="slide-poll__label">{{ opt }}</span>
          @if (hasVoted()) {
            <span class="slide-poll__pct">{{ percent(i) }}%</span>
            <span
              class="slide-poll__bar"
              [attr.data-index]="i"
              [style.width.%]="percent(i)"
            ></span>
          }
        </button>
      }
    </div>
  </div>
}
